@mixin flex-align($align-position) {
  display: flex;
  align-items: $align-position;
}

@mixin flex-direction-align($flex-direction, $align-position) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-position;
}

@mixin flex-justify($justify-position) {
  display: flex;
  justify-content: $justify-position;
}

@mixin flex-justify-align($justify-position, $align-position) {
  display: flex;
  justify-content: $justify-position;
  align-items: $align-position;
}

/* Breakpoint mixins */

@mixin media-laptop {
  @media (max-width: $laptop-breakpoint) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin media-mobile-low {
  @media (max-width: $mobile-low-breakpoint) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}