.section--general {

  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1351px;
    height: 1511px;
    background-image: url('../../images/general/background-gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .general {
    padding-top: 150px;
    padding-bottom: 110px;

    &__inner {
        @include flex-justify-align(space-between, flex-start);
        margin-top: 40px;
    }

    &__content {
      max-width: 636px;
      width: 100%;

      .general__label {
        @include flex-justify-align(center, center);
        width: 150px;
        padding: 10px 18px;
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background-color: rgba(0, 0, 0, 0.12);
        font-size: 10px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        pointer-events: none;
      }

      .general__title {
        margin-top: 24px;
        font-size: 66px;
        line-height: 72.6px;
        font-weight: 700;
        letter-spacing: -3.727px;
      }

      .general__subtitle {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 34px;
      }

      .general__info {
        @include flex-justify-align(start, center);

        .general__btn {
          @include flex-justify-align(center, center);
          width: 230px;
          padding: 18px 25px;
          border-radius: 6px;
          background-color: #FDDD35;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0px 12px 24px 0px rgba(0, 0, 0, 0.22);
          color: $black;
          font-size: 16px;
          font-weight: 600;
          line-height: 19.2px;
          letter-spacing: -0.32px;

          &:hover {
            box-shadow: 0px 0px 40px 15px rgba(253, 221, 53, 0.2);
          }
        }

        .general__info-avatars {
          @include flex-justify-align(center, center);
          margin-left: 16px;
          font-size: 12px;
          font-weight: 600;
          color: $white;
          line-height: 18px;
          letter-spacing: -0.12px;

          img {
            margin-right: 8px;
            max-width: 130px;
            width: 100%;
            height: 35px;
          }
        }
      }

      .general__desc {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        line-height: 21px;
        letter-spacing: -0.14px;
      }

      .general__desc:last-child {
        margin-top: 12px;
      }
    }
    .general__img {
      @include flex-justify-align(center, center);

      @include media-tablet {
        display: none;
      }

      img {
        max-width: 600px;
        width: 100%;
        height: 600px;
      }
    }
  }
}

.section--courses {
  position: relative;
  z-index: 11;

  .courses {
    &__inner {
      margin-bottom: 150px;
    }

    &__items {
      @include flex-justify-align(space-between, flex-start);
      flex-wrap: wrap;

      @include media-tablet {
        flex-wrap: nowrap;
      }

      @include media-laptop {
        justify-content: space-around;
      }

      .courses__item {
        @include flex-justify-align(flex-start, flex-start);
        flex-direction: column;
        max-width: 638px;
        width: 100%;
        height: 500px;
        padding: 62px 53px 0 53px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(0, 0, 0, 0.12);
        box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(6px);

        @include media-laptop {
          padding: 30px 20px 0 20px;
        }

        @include media-tablet {
          max-width: inherit;
        }

        .courses__item-title {
          font-size: 48px;
          font-weight: 700;
          line-height: 52.8px;
          letter-spacing: -2px;
          color: $white;

          @include media-laptop {
            font-size: 41px;
          }
        }

        .courses__item-link {
          @include flex-justify-align(center, center);
          margin-top: 25px;
          font-size: 18px;
          font-weight: 600;
          color: $white;
          line-height: 21.6px;
          letter-spacing: -0.36px;


          .courses__item-arrow {
            position: relative;
            margin-left: 12px;
            width: 26px;
            height: 15px;
          }
        }

        img {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
        }
      }

      .courses__item:first-child {
        img {
          height: 251px;
        }
      }

      .courses__item:nth-child(2) {
        img {
          height: 224px;
        }
      }
    }
  }
}

.section--reviews {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 150px;
    right: 0;
    width: 1351px;
    height: 550px;
    background-image: url('../../images/general/background-gradient3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .reviews {

    &__inner {
      margin-bottom: 120px;

      .reviews__items {
        @include flex-justify-align(space-between, flex-start);
        flex-wrap: wrap;

        @include media-tablet {
          flex-wrap: nowrap;
        }

        @include media-laptop {
          justify-content: space-around;
        }

        .reviews__item {
          @include flex-justify-align(flex-start, flex-start);
          flex-direction: column;
          height: 280px;
          max-width: 417px;
          width: 100%;
          padding: 26px 23px;
          margin-bottom: 24px;
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.50);
          background: rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(6px);

          @include media-tablet {
            max-width: inherit;
            margin-bottom: 0;
          }

          .reviews__item-header {
            @include flex-justify-align(space-between, center);
            width: 100%;

            .reviews__item-profile {
              @include flex-justify-align(start, center);
              max-width: 300px;
              width: 100%;

              img {
                max-width: 46px;
                width: 100%;
                height: 46px;
              }

              .reviews__item-info {
                margin-left: 6px;

                .reviews__item-name {
                  font-size: 14px;
                  font-weight: 600;
                  letter-spacing: -0.28px;
                  color: $white;
                }

                .reviews__item-link {
                  color: $white;
                  opacity: 0.6;
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: -0.36px;
                }
              }
            }

            .reviews__item-socials {
              max-width: 23px;
              width: 100%;
              height: 20px;
              transition: all 0.5s ease;
              opacity: 0.6;

              &:hover {
                opacity: 1;
              }
            }
          }

          .reviews__item-text {
            padding: 24px 0;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: -0.18px;
            color: $white;
          }

          .reviews__item-date {
            @include flex-justify(center);
          }
        }
      }
    }
  }
}

.footer {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.50);
  background-color: #4C34A4;
  height: 165px;
  flex: 0 0 auto;

  &__inner {
    @include flex-justify-align(center, center);
    flex-direction: column;
    text-align: center;

    .footer__copyright {
      margin-top: 15px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.12px;
      color: $white;
      opacity: 0.7;
    }

    .socials {
      margin-top: 15px;
      @include flex-justify-align(center, center);

      &__item {
        margin-right: 12px;

        .socials__link {
          opacity: 0.6;
          transition: all 0.5s ease;
          img {
            max-width: 23px;
            width: 100%;
            height: 23px;
          }

          &:hover {
            opacity: 1;
            transition: all 0.5s ease;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}