// Breakpoints Use in mixins
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;
$mobile-low-breakpoint: 390px;

// Colors

$title-primary: #03AAC0;
$background-color: #7445FF;
$white: #fff;
$black: #030303;
$red: #FF0000;

// Fonts
$title-font: 'Inconsolata', monospace;